.todoList {
    width: 300px;
    margin:  auto;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .List ul {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
  }
  
  .todo-item:hover {
    background-color: #e0e0e0;
  }
  
  .delete-btn {
    display: none;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .todo-item:hover .delete-btn {
    display: inline-block;
  }
  